*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;
overflow:hidden;

background:radial-gradient(circle at center,#1b0028,#000);

font-family:'Poppins',sans-serif;

display:flex;
align-items:center;
justify-content:center;

text-align:center;

color:white;

}

canvas{

position:absolute;
top:0;
left:0;

z-index:0;

}

.centerText{

z-index:2;
padding:20px;
max-width:800px;

}

h1{

font-family:'Great Vibes',cursive;

font-size:90px;

color:#ff4da6;

text-shadow:

0 0 10px #ff4da6,
0 0 20px #ff4da6,
0 0 40px #ff4da6,
0 0 80px #ff4da6;

animation:pulse 2s infinite;

}

p{

margin-top:25px;

font-size:22px;

opacity:0.9;

line-height:1.6;

}

@keyframes pulse{

0%{transform:scale(1)}

50%{transform:scale(1.1)}

100%{transform:scale(1)}

}

/* MOBILE */

@media(max-width:768px){

h1{

font-size:55px;

}

p{

font-size:16px;

padding:0 10px;

}

}

/* VERY SMALL SCREEN */

@media(max-width:420px){

h1{

font-size:40px;

}

p{

font-size:14px;

}

}
